.anim-container {
  margin: auto;
  width: fit-content;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.anim-field {
  border: 1px solid black;
  border-radius: 1rem;
  /* background-image: url("./images/field.png"); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  width: 700px;
  height: 400px;
  position: relative;
  background-position: center;
}

.anim-ball {
  border-radius: 50%;
  border: 1px solid black;
  background-color: lightgray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  position: relative;
  left: 0;
  top: 0;
}

.anim-control {
  margin-top: 1rem;
}
