* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dev {
    text-align: center;
}

.cal_container{
    margin: 1rem auto;
    background-color: rgb(0, 0, 0);
    width: fit-content;
    border: 4px solid rgb(169, 160, 250);
    border-radius: 20px;
    padding: 0.5rem; 
}

.cal_screen {
    background-color: rgb(0, 255, 170);
    text-align: right;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid rgba(185, 185, 185, 0.973);
    margin-bottom: 0.1rem;
}

.cal_button {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.1rem;
    border-radius: 10px;
    border: 2px solid  gray;
}

/* .cal_button:hover {
    background-color: rgb(115, 121, 127); 
    transform: scale(1.1);
    transition: transform 0.3s ease;
} 

.cal_button:active {
  background-color: #1c5980;
  transform: scale(0.95);
  transition: none; 
}  */

.cal_button_Green {
    background-color: rgb(139, 223, 238);
}

.cal_button_blue {
    background-color: rgb(214, 243, 253);
}

.cal_button_red {
    background-color: lightcoral;
}

.cal_button_orange {
    background-color: orange;
}